@charset "utf-8";

input[type="text"] {
    height: 25px;
}

input[type='submit'] {
    background-color: lightgray;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    height: 35px;
    width: 200px;
}

